<div class="logo">
	<h1>Eat-Da-Pizza</h1>
	<img src="assets/img/pizza-bling.gif">
	<h4>Add a pizza using the form below. Devour a pizza by clicking the name.</h4>
</div>
<div class="container">
	<div class="pizzaStatus">
		<div class="item" id="not-devoured"></div>
		<div class="item" id="devoured"></div>
	</div>
	<div class="add_pizza">
		<form id="newPizzaForm">
			<input type="text" id="newPizza" placeholder="Name of a pizza...">
			<input id="submit" type="submit" value="Add Pizza!">
		</form>
	
	</div>
</div>